doctype html

html
  
  head
    //- include _analytics.html
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://use.typekit.net/trs6gfm.css")
    link(href="/css/styles.css", rel="stylesheet")
    title Outwith – product and portrait photography in Edinburgh 
    meta(name="description",content="")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="/js/extrascripts.js")
  
  body
        
    .contents
      include ../_includes/_logo.pug
      
      include ../_includes/_nav.pug
        
      include ../_includes/portrait_photography.pug
      include ../_includes/product_photography.pug
      
      .photo-nav
  