$fancy-colour: #feff00

::selection
	background-color: $fancy-colour
	color: black

p
	font-family: brother-1816, sans-serif
	font-weight: 400
	font-style: normal
	font-size: 1.8rem
	line-height: 1.5
	margin: 0

a
	color: inherit
	text-decoration: none
	
.main-nav p
	font-size: 1rem
	line-height: 1.4

a.main-nav-link, a.secondary-nav-link
	color: #000
	font-family: brother-1816, sans-serif
	font-weight: 900
	font-style: normal
	letter-spacing: 0.03em
	&.light
		color: #fff
		
a.main-nav-link
	position: relative
	font-size: 1.4rem
	line-height: 1.2
	display: inline-block
	text-transform: uppercase
	&:first-child
		margin-top:0.1em

.caption p
	position: relative
	text-align: right
	font-size: 1rem
	font-family: brother-1816, sans-serif
	font-weight: 300
	text-wrap: balance
	&::before
		content: ''
		position: absolute	
		width: 0
		height: 0
		top: 0.4rem
		border-top: 0.4rem solid transparent
		border-left: 0.4rem solid black
		border-bottom: 0.4rem solid transparent
		right: -1rem

.caption a, .text a
	background-image: linear-gradient( to top, rgba(0,0,0,0) 3%, $fancy-colour 3%, $fancy-colour 12%, rgba(0,0,0,0) 12%)


.selected
	&::before
		content: ''
		position: absolute	
		width: 0
		height: 0
		top: 0.48rem
		border-top: 0.4rem solid transparent
		border-left: 0.4rem solid black
		border-bottom: 0.4rem solid transparent
		left: -1rem
		z-index: 20
		transition: left 0.3s cubic-bezier(.07,.73,.15,.98)

	&:hover::before
		left: -0.6rem

	

a.main-nav-link:hover, a.secondary-nav-link:hover
	background-color: $fancy-colour



a.secondary-nav-link
	display: inline-block
	font-size: 1.4rem
	margin: 0
	&:first-of-type
		margin-top: auto
		
	
a.photo-icon-link
	padding: 2.5px
	margin: 0 2px
	opacity: 0.4
	// transform: rotate(0)
	// transition: rotate 0.3s cubic-bezier(.07,.73,.15,.98)
	&.current, &:hover
		opacity: 1
	// &:hover
	// 	transform: rotate(360deg)

.photo-nav
	font-size: 18px

img.photo-icon
	width: 8px
		
.text p
	font-family: brother-1816, sans-serif
	font-weight: 300
	font-size: 1.8rem
	margin-top: 1.2rem
.text img
	width: 100%
	margin-bottom: 10px
	
span.highlighted, a.highlighted
	background-color: $fancy-colour