$fancy-colour: #dbdb09

::selection
	background-color: $fancy-colour
	color: black

p
	font-family: bely,serif
	font-weight: 400
	font-style: normal
	color: #fff
	font-size: 1.4em
	line-height: 1.2em

a
	color: inherit
	text-decoration: none
	

a.main-nav-link, a.secondary-nav-link
	color: #000
	font-family: bely-display,sans-serif
	font-weight: 400
	font-style: normal
	letter-spacing: 0.03em
	&.light
		color: #fff
		
a.main-nav-link
	position: relative
	font-size: 2em
	line-height: 1.2
	display: inline-block
	text-transform: uppercase
	&:first-child
		margin-top:0.1em

.selected
	&::before
		content: ''
		position: absolute	
		width: 0
		height: 0
		top: 0.4em
		border-top: 0.2em solid transparent
		border-left: 0.2em solid white
		border-bottom: 0.2em solid transparent
		left: -0.4em
		z-index: 20

	&:hover::before
		left: -0.3em
	&:hover::after
		left: -0.4em
		

a.main-nav-link:hover, a.secondary-nav-link:hover
	background-color: $fancy-colour


a.secondary-nav-link
	display: inline-block
	font-size: 1.3em
	margin: 0.2em 0
	&:first-of-type
		margin-top: auto
		
$photo-icon-size: 0.15em

a.photo-icon, a.photo-icon::before
	width: 0
	height: 0
	border: $photo-icon-size solid transparent
	
a.photo-icon
	font-size: 4em
	position: relative
	border-bottom-color: white
	margin-right: 0.05em
	opacity: 0.4
	&::before
		content: ''
		position: absolute
		left: -$photo-icon-size
		top: $photo-icon-size
		border-top-color: white
	&.current, &:hover
		opacity: 1