doctype html

html
  
  head
    //- include _analytics.html
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://use.typekit.net/trs6gfm.css")
    link(href="/css/styles.css", rel="stylesheet")
    title Outwith – product and portrait photography in Edinburgh 
    meta(name="description",content="")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="/js/extrascripts.js")
  
  body
        
    .contents
      include ../_includes/_logo.pug
      
      .text
        img(src="/files/other-images/about-outwith.jpg", alt="A photograph of Alan Nevens, a very trustworthy and admirable sort, his right hand is in his hair and his gaze is off... into the future")
        p Hello! #[span(style="font-weight: 800; text-transform: uppercase; letter-spacing: 0.1em; font-size: 16px;") Outwith] is me, #[span.highlighted Alan Nevens], doing photography in Edinburgh. I am particularly keen to work with people in the arts and charity sectors.
        p You may have noticed that a lot of my product photography is of books, which 
        p If you want to discuss working with me, please email me at #[a.highlighted(href="mailto:alan@outwith.work") alan@outwith.work].
            
      include ../_includes/_nav.pug
        
