doctype html

html
  
  head
    //- include _analytics.html
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://use.typekit.net/trs6gfm.css")
    link(href="/css/styles.css", rel="stylesheet")
    title About Outwith – product and portrait photography in Edinburgh 

    meta(name="description",content="About Outwith – product and portrait photography in Edinburgh")
    meta(property="og:title" content="About Outwith")
    meta(property="og:type" content="website")
    meta(property="og:image" content="https://outwith.work/img/social-image.jpg")
    meta(property="og:url" content="https://outwith.work")
    meta(name="twitter:card" content="summary_large_image")
    
    meta(property="og:description" content="About Outwith")
    meta(property="og:site_name" content="Outwith")
    meta(name="twitter:image:alt" content="A logo for Outwith featuring black type on a light background.")
      
    include ../_includes/_scripts.pug
  
  body
        
    .contents
      include ../_includes/_logo.pug
      include ../_includes/_nav.pug
        
      
      .text
        img(src="/files/other-images/about-outwith.jpg", alt="A photograph of Alan Nevens, a very trustworthy and admirable sort. His right hand is in his hair and his gaze is off... into the future")
        p Hello! #[img(src="/img/outwith-logo-horizontal.svg", alt="Outwith", title="outwith", style="width: 8rem; margin: 0; transform: translateY(2px);")] is me, #[a.highlighted(href="mailto:alan@outwith.work") Alan Nevens], making photographs and websites in Edinburgh. In photography, I particularly like taking pictures of #[a(href="/portrait-photography") people] and of #[a(href="/product-photography") books] (which are like people but better and more rectangular). In #[a(href="/websites") website design], I like small-scale, carefully made sites with personality. I made this one you’re looking at right now and I was shortlisted for a Webby for #[a(href="https://alantrotter.com", target="_blank") this one].
        p I particularly like working with people in the arts and charity sectors.
        p If you want to discuss working with me, please email me at #[a.highlighted(href="mailto:alan@outwith.work") alan@outwith.work].
            
