.nav-sidebar
	.main-nav
		p #[a(href="/product-photography" class="main-nav-link" data-category="product-photography") Product] & #[a(href="/portrait-photography" class="main-nav-link" data-category="portrait-photography") portrait] photography in Edinburgh
	.secondary-nav
		a.secondary-nav-link(href="/about") About #[span(style="font-family: bely,serif; font-weight: 400; font-size: 1.3rem;") &] Contact

.mobile-main-nav #[a(href="/product-photography") Product] & #[a(href="/portrait-photography") portrait] photography&nbsp;in&nbsp;Edinburgh
.mobile-secondary-nav
	a(href="/about") About #[span(style="font-family: bely, serif; font-weight: normal;") &] Contact