.nav-sidebar
	.main-nav
		p #[a(href="/product-photography" class="main-nav-link" data-category="product-photographs") product] & #[a(href="/portrait-photography" class="main-nav-link" data-category="portrait-photographs") portrait] photography in Edinburgh
	.secondary-nav
		a.secondary-nav-link(href="about") About
		a.secondary-nav-link(href="mailto:alantrotter@gmail.com") Contact