.photograph-container(data-category="portrait-photography")
	img.main-photograph.on(src="/files/large-photos/ambrose-parry.jpg", data-caption="Ambrose Parry, pen name of Chris Brookmyre and Marisa Haetzman")
	img.main-photograph(src="/files/large-photos/tom-bw.jpg", data-caption="<a href='https://www.tomhumberstone.com/'>Tom Humberstone</a>, comic artist and illustrator")
	img.main-photograph(src="/files/large-photos/tom-portrait.jpg", data-caption="<a href='https://www.tomhumberstone.com/'>Tom Humberstone</a>, comic artist and illustrator")
	img.main-photograph(src="/files/large-photos/alys-portrait.jpg", data-caption="Alys Mumford, Councillor, Scottish Green Party")
	img.main-photograph(src="/files/large-photos/AlanTrotter2.jpg", data-caption="<a href='https://muscle.alantrotter.com/'>Alan Trotter</a>, writer")