.photograph-container(data-category="portrait-photography")
	img.main-photograph.on(src="/files/large-photos/ambrose-parry.jpg")
	img.main-photograph(src="/files/large-photos/tom-bw.jpg")
	img.main-photograph(src="/files/large-photos/tom-portrait.jpg")
	img.main-photograph(src="/files/large-photos/alys-portrait.jpg")
	img.main-photograph(src="/files/large-photos/AlanTrotter2.jpg")