.photograph-container(data-category="product-photography")
	img.main-photograph.on(src="/files/large-photos/faithhopeandcarnage.jpg", data-caption="<em>Faith, Hope and Carnage</em> by Nick Cave and Seán O’Hagan")
	img.main-photograph(src="/files/large-photos/foghornechoes.jpg", data-caption="<em>The Foghorn Echoes</em> by Danny Ramadan")
	img.main-photograph(src="/files/large-photos/publicationpile.jpg", data-caption="Books published by Canongate")
	img.main-photograph(src="/files/large-photos/publicationpile2.jpg", data-caption="Books published by Canongate")
	img.main-photograph(src="/files/large-photos/idolsburning.jpg", data-caption="<em>Idol, Burning</em> by Rin Usami")