.photograph-container(data-category="product-photography")
	img.main-photograph.on(src="/files/large-photos/faithhopeandcarnage.jpg")
	img.main-photograph(src="/files/large-photos/foghornechoes.jpg")
	img.main-photograph(src="/files/large-photos/publicationpile.jpg")
	img.main-photograph(src="/files/large-photos/publicationpile2.jpg")