.photograph-container(data-category="websites")
	img.main-photograph.on(src="/files/large-photos/nanshepherdprize.jpg", data-link="https://nanshepherdprize.com", data-caption="<a href='https://nanshepherdprize.com'>nanshepherdprize.com</a>, a&nbsp;website for the Nan Shepherd Prize")
	img.main-photograph(src="/files/large-photos/grayday.jpg", data-link="https://grayday.info", data-caption="<a href='https://grayday.info'>grayday.info</a>, a&nbsp;website for Gray Day")
	img.main-photograph(src="/files/large-photos/rafaelaromaya.jpg", data-link="https://rafaelaromaya.com", data-caption="<a href='https://rafaelaromaya.com'>rafaelaromaya.com</a>, a&nbsp;website for designer Rafaela Romaya")
	img.main-photograph(src="/files/large-photos/thedarkremains.jpg", data-link="https://thedarkremains.com", data-caption="<a href='https://thedarkremains.com'>thedarkremains.com</a>, a&nbsp;website for the book <em>The Dark Remains</em>")
	img.main-photograph(src="/files/large-photos/musclealantrotter.jpg", data-link="https://muscle.alantrotter.com", data-caption="<a href='https://muscle.alantrotter.com'>muscle.alantrotter.com</a>, a&nbsp;website for the book <em>Muscle</em>")