doctype html

html
  
  head
    //- include _analytics.html
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/styles.css", rel="stylesheet")
    title
    meta(name="description",content="")
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    //- script(src="extrascripts.js")
  
  body
  header
    h1 Hello
    p I just want to get something in here to make sure all these apps are playing properly together
  main
  
  footer 
    a(href="mailto:alantrotter@gmail.com") Contact
    
